/**
 * Feature Name: Styles
 * Descriptions: Adds the needed styles
 * Version:      1.2
 * Author:       Thomas 'Llama' Herzog
 * Author URI:   https://profiles.wordpress.org/dasllama
 * Licence:      GPLv3
 */

/**
 * Basic Box
 */

#sca-box .sca-metabox {
	float: right;
	width: 300px;
	margin-bottom: 10px;
	background: #f1f1f1;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

#sca-box .sca-metabox.closed {
	border-bottom: none;
}

#sca-box h3 {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    padding: 8px 12px;
	border-bottom: 1px solid #e5e5e5;
}

#sca-box hr {
	border-bottom: none;
}

#sca-box:after {
	width: 0;
	heigth: 0;
	clear: both;
	content: ' ';
	display: block;
}

#sca-box .sca-current-action-container {
	margin-right: 325px;
}

#sca-box #sca-type,
#sca-box #sca-term-taxonomy {
	width: 100%;
}

#sca-box .sca-action-box .small-text {
	padding: 4px 5px;
	margin-top: 4px;
}

/**
 * Display Table
 */

table#sca {
	width: 100%;
	background: #fff;
	margin: 0 0 10px;
	border-spacing: 0;
	border: 1px solid #dfdfdf;
	border-bottom: none;
}

table#sca thead th {
	text-align: left;
	background: #f1f1f1;
}

table#sca thead th.left {
	width: 30%;
	vertical-align: top;
}

table#sca thead th,
table#sca tbody td {
	vertical-align: top;
	padding: 5px 8px 8px;
	border-bottom: 1px solid #dfdfdf;
}

/**
 * Remove Button
 */

#sca-box .remove-action {
    float: left;
	width: 10px;
	height: 10px;
	cursor: pointer;
    margin: 5px 5px 0 0;
	text-decoration: none;
	background: url(../img/xit.gif);
}

#sca-box .remove-action:hover {
	background-position: 10px 0px;
}